#divSlider {
	height:20px;
	width:10px;
	background-color:red;
	position:relative;
	left:1px;
}

#divSliderBG {
	height:20px;
	width:200px;
	padding:2px;
	background-color:blue;
	float:left;
	margin-right:10px;
}