.keypad,.operator-pad{
	padding:20px; /* visually show hierarchy */
}
.keypad{
  overflow: hidden;   
}
.keyPadColumn {
    width: 25px;
    float:left;
    overflow: hidden;
}
.display{
    width: 400px;
    height: 25px;
    background-color: #E4FFD1;
    color: #000000;
    text-align: right;
    font-size: 20px;
}

.footer{
	clear:both;
}